@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Book.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Book.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Medium.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MetaSerifPro-Bold';
  src: url(/fonts/metaserifprobold/MetaSerifPro-Bold.woff2) format('woff2'),
    url(/fonts/metaserifprobold/MetaSerifPro-Bold.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

/* mono font */

@font-face {
  font-family: 'office code pro';
  src: url('/fonts/office-code-pro/OfficeCodePro-Regular.eot');
  src: url('/fonts/office-code-pro/OfficeCodePro-Regular.woff2') format('woff2'),
    url('/fonts/office-code-pro/OfficeCodePro-Regular.woff') format('woff'),
    url('/fonts/office-code-pro/OfficeCodePro-Regular.ttf') format('truetype'),
    url('/fonts/office-code-pro/OfficeCodePro-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'uber_move_textlight';
  src: url('/fonts/ubero/ubermovetextlight-webfont.eot');
  src: url('/fonts/ubero/ubermovetextlight-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ubero/ubermovetextlight-webfont.woff2') format('woff2'),
       url('/fonts/ubero/ubermovetextlight-webfont.woff') format('woff'),
       url('/fonts/ubero/ubermovetextlight-webfont.svg#uber_move_textlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'uber_move_textregular';
  src: url('/fonts/ubero/ubermovetextregular-webfont.eot');
  src: url('/fonts/ubero/ubermovetextregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ubero/ubermovetextregular-webfont.woff2') format('woff2'),
       url('/fonts/ubero/ubermovetextregular-webfont.woff') format('woff'),
       url('/fonts/ubero/ubermovetextregular-webfont.svg#uber_move_textregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
